* {
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none !important;
  outline: none !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

small {
  font-size: 0.8rem;
}

/* Global Class */
.logo {
  width: 3rem;
  height: 3rem;
}

.input-login-and-register {
  background: url(../assets/instagram.svg) no-repeat;
  padding-left: 30px;
  border: none;
}

.input-login-and-register:focus {
  outline: none;
}

.button-login-and-register {
  padding: 0 !important;
  font-size: 0.85rem !important;
}



#main-frame{
  display:flex;
  flex-direction: row;
}

.side-navbar{
  height:100vh;
  width:27%;
  max-width:300px;
  min-width:200px;
  border-right:1px solid #bdbdbd;
}

