* {
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none !important;
  outline: none !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

small {
  font-size: 0.8rem;
}

/* Global Class */
.logo {
  width: 3rem;
  height: 3rem;
}

.input-login-and-register {
  background: url(../assets/instagram.svg) no-repeat;
  padding-left: 30px;
  border: none;
}

.input-login-and-register:focus {
  outline: none;
}

.button-login-and-register {
  padding: 0 !important;
  font-size: 0.85rem !important;
}

/* Dashboard */
#main-frame {
  display: flex;
  flex-direction: row;
}

.side-navbar {
  height: 100vh;
  width: 27%;
  max-width: 300px;
  min-width: 200px;
  border-right: 1px solid #bdbdbd;
  padding-left: 1.5rem;
  padding-top: 1rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.profile-bar,
.navbar-button,
.random-friend-popup-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* background-color: red; */
  gap: 1rem;
}

.navbar-button,
.random-friend-popup-wrapper {
  gap: 2rem;
}

.profile-bar img {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: 1px solid #bdbdbd;
}

.profile-bar h1,
.navbar-button a,
.random-friend-popup-wrapper a,
.highlight-text {
  font-size: 1.1rem;
}

.highlight-text {
  font-weight: bold;
}

.navbar-button a,
.random-friend-popup-wrapper a {
  font-weight: bold;
  text-decoration: none;
}

.navbar-button svg,
.random-friend-popup-wrapper img {
  width: 1rem;
  height: 1rem;
  /* border-radius:50%; */
}

.main-content {
  width: 100%;
}

.friend-recommendation-section {
  width: 40%;
  height: 100vh;
  max-width: 350px;
  border-left: 1px solid #bdbdbd;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0.8rem;
}

.main-content-wrapper {
  width: 100%;
}

.dashboard-header {
  height: 60px;
  border-bottom: 1px solid #bdbdbd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.dashboard-page-title {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0;
}

.dropdown-button {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 4rem;
  padding-left: 1.5rem;
  background-color: white;
  border: 1px solid #bdbdbd;
}

.dropdown-button:hover {
  background-color: #0b5ed7;
  border-color: #0a58ca;
  color: white;
}

.dropdown-button img {
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
}

.caption-write {
  width: 100%;
  height:15rem !important;
}

.dropdown-button img {
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
}

.image-post{
  display:flex;
  justify-content: space-between;
}

.image-post button{
  width:8rem;
}

label.addfile{
  border:1px solid #0b5ed7;
  height:3.5rem;
  width:7rem;
  text-align: center;
  vertical-align: middle;
  margin-left:.4rem;
}

.addfile img{
  height:1rem;
  width:1rem;
}

.submit-button{
  height:2rem;
  margin-right:.4rem;  
}

#preview-image{
  width:100%;
  height: 200px;
  background-color: red;
  margin-bottom:.2rem;
  overflow-x: scroll;

  display:flex;
  justify-content: flex-start;
}

#preview-image img{
  height:100px;
  width:100px;
}